{% extends "base/base_form.html" %}

{% block title %}
    Iniciar Sesión
{% endblock %}

{% block content %}
    <div class="form-container">
        <form method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <h1>Sign in</h1>
            <div class="fields">
                <div class="sections">
                    <div>
                        {{ form.email }}
                        {{ form.email.label }}
                    </div>
    
                    <div>
                        {{ form.password }}
                        {{ form.password.label }}
                    </div>
                </div>
            </div>
            
            {{ form.submit(class='button submit') }}
        </form>
    </div>
{% endblock %}