{% extends "base/base_form.html" %}

{% block title %}
    Registro de usuarios
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div>
            {{ form.name.label }}
            {{ form.name }}<br>

            {{ form.email.label }}
            {{ form.email }}<br>

            {{ form.password.label }}
            {{ form.password }}<br>

            {{ form.profile_picture.label }}
            {{ form.profile_picture }}<br>

            {{ form.cover_photo.label }}
            {{ form.cover_photo }}<br>

            {{ form.submit() }}
        </div>
    </form>
{% endblock %}