{% extends "base/base_form.html" %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    <div class="form-container">
        <form method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <h1>Register</h1>
            <div class="fields">
                <div class="sections">
                    <div>
                        {{ form.name }}
                        {{ form.name.label }}
                    </div>
                    
                    <div>
                        {{ form.email }}
                        {{ form.email.label }}
                    </div>
        
                    <div>
                        {{ form.password }}
                        {{ form.password.label }}
                    </div>

                    <div>
                        {{ form.description }}
                        {{ form.description.label }}
                    </div>
                </div>
                <div class="sections">
                    <div  class='input-file'>
                        {{ form.profile_picture(id='profile_picture') }}
                        {{ form.profile_picture.label(for='profile_picture') }}
                    </div>
        
                    <div class='input-file'>
                        {{ form.cover_photo(id='cover_photo') }}
                        {{ form.cover_photo.label(for='cover_photo') }}
                    </div>
        
                    <div class="color-field">
                        {{ form.profile_color }}
                        {{ form.profile_color.label }}
                    </div>
                </div>
            </div>

            {{ form.submit(class='button submit') }}
        </form>
    </div>
{% endblock %}