body {
    background-color: #051318;
    color: white;
    font-family: Verdana, 'Courier New', Courier, monospace;
    margin: auto;
}

/*NavBar*/
a {
    text-decoration: none;
    color: white;
}

img {
    height: 40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0D1D23;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    color: #999;
}

/*Footer*/
footer {
    background-color: #0D1D23;
    padding: 5%;
    display: inline-flex;
    text-align: center;
    position: inherit;
    bottom: 0;
}
.about {
    display: inherit;
    padding: 32px; 
    float: left; 
    width: 25%; 
    text-align: justify;
}

.about div {
    width: 100%;
    text-align: center;
    margin: auto;
}
.about div b {
    font-size: 25px;
}

.contact ul {
    display: inline-grid;
}