body {
    background-color: #051318;
    color: #fff;
    font-family: Verdana, 'Courier New', Courier, monospace;
    margin: auto;
}

.wrapper {
    padding: 2em 5em 5em;
    min-height: 100vh;
}

h1 {
    font-size: 2em;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    gap: 2rem;
}

li {
    list-style: none;
}

li a:hover {
    color: #999;
}

/*NavBar*/

.navbar {
    margin: 0;
    background-color: #0D1D23;
    box-shadow: -0px 0px 60px 0px #000;
}

.menu_buttons {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 0;
}
  
.menu_buttons .close {
    display: none;
}

.checkbox {
    display: none;
}

.menu_buttons .open, 
.menu_buttons .close {
    margin: 1rem 2rem;
}

.navbar_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    margin: 0 1rem;
}

.navbar_menu li:first-child {
    display: block;
    margin-right: auto;
    font-weight: bold;
}

.navbar_menu li {
    display: block;
}

#checkbox:checked ~ ul.navbar_menu {
    padding-bottom: 2rem;
}

#checkbox:checked ~ ul.navbar_menu li {
    display: block;
}
  
#checkbox:checked ~ label.menu_buttons .close {
    display: block;
}
  
#checkbox:checked ~ label.menu_buttons .open {
    display: none;
}

/*Footer*/
footer {
    background-color: #0D1D23;
    text-align: center;
    position: relative;
    padding: 2% 5%;
    bottom: 0;
    box-shadow: -0px 0px 60px 0px #000;
}
.footer {
    display: flex;
}
.about {
    display: inherit;
    padding: 32px; 
    float: left; 
    width: 25%; 
    text-align: justify;
}

.logo {
    text-align: center;
}

.about div, b {
    width: 100%;
    margin: auto;
}
.about b {
    font-size: 25px;
    position: cover;
}

.contact ul {
    display: grid;
    padding: 0;
    text-align: center;
}

/* ----------
 * Wellcome
 */

#wellcome {
    display: flex;
    position: relative;
    height: auto;
}

.landing {
    width: 100%;
    padding: 5%;
    margin: auto;
}

.button {
    transition-duration: 1s;
    background-color: #41555C;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.button:hover {
    transition-duration: 1s;
    box-shadow: 0px 0px 10px 0px #fff;
    color: #fff;
}
.image {
    font-size: 25em;
    text-align: center;
}

/*Information*/
#info {
    margin: 10% 0 0;
    text-align: center;
}

.container-cards{
    display: flex;
    margin: 3% auto;
}

/*Cards*/

.card {
    transition-duration: 1s;
    background-color: #051318;
    width: 25%;
    padding: 20px;
    word-wrap: break-word;
    box-shadow: 0px 0px 10px 0px #000;
    border-radius: 5px;
    display: grid;
    margin: 3% auto;
}

.icon{
    font-size: 900%;
    margin: 0 auto 0 auto;
}
.card:hover{
    transition-duration: 1s;
    transform: scale(1.1);
}

/* ------
 * Home
 */

.user-title {
    margin-top: 5%;
}

/*Users*/

.users {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
}

.user {
    transition-duration: 1s;
    box-shadow: 0px 0px 10px 0px #000;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    word-wrap: break-word;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.user:hover {
    transition-duration: 1s;
    transform: scale(1.2);
}

.plus {
    font-size: 500%;
    text-align: center;
}

/*Tutorial preview*/

.tutorial {
    background-color: #0D1D23;
    padding: 5%;
    display: flex;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #000;
    margin: 5% 0;
}

.tutorial div {
    margin: auto;
    padding: 20px;
}

/* -----------
 * Users
 */

.cover{
    width: 100%;
    display: flex;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.user-info {
    display: flex;
    width: 60%;
    margin: auto;
}

.user-info div {
    padding: 10px;
    overflow: auto;
}

.user-info div:first-child {
    padding: 10%;
    margin: auto;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*
 *forms
 */

.form-container {
    display: flex;
    height: 100vh;
}

.form-container  form{
    margin: auto;
    padding: 1% 3%;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #000;
}


.fields {
    display: flex;
    text-align: start;
    margin: 10px;
}

.sections {
    width: -webkit-fill-available;
    margin: 10px 0;
}

.sections div {
    margin: 10px;
    display: grid;
}

input, textarea {
    background-color: transparent;
    width: -webkit-fill-available;
    height: 30px;
    color: #fff;
    border: 1px solid #fff;
    padding: 0 10px;
    border-radius: 5px;
}

textarea {
    height: 5em;
    resize: none;
}

input:focus, textarea:focus {
    outline: none;
}

.submit {
    height: 40px;
    width: 100%;
    border: none;
}

#profile_picture, #cover_photo {
    display: none;
}

.input-file {
    background-color: #008000;
    border-radius: 5px;
    padding: 10%;
    height: 3em;
}

.input-file:hover {
    background-color: #016901;
}

.input-file label {
    margin: auto;
}

.color-field {
    height: 38%;
}

.color-field input{
    padding: 0;
    width: 100%;
    height: 100%;
}

/*Blog*/

code {
    background-color: #fff;
    color: #000;
    font-weight: bold;
    padding: 1px 2px;
    border-radius: 5px;
}

.codehilite {
    width: 100%;
    padding: 10px;
    display: block;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #000;
    background-color: #0D1D23;
    overflow: auto;
}

.codehilite code {
    background-color: transparent;
    color: #fff;
    font-weight: lighter;
}

blockquote {
    border-left: 5px solid #fff;
    background-color: #0D1D23;
    padding-left: inherit;
    margin: auto;
}

blockquote a {
    text-decoration: underline;
}

@media (max-width: 900px) {
    
    #wellcome, .container-cards {
        display: grid;
    }
    #wellcome div {
        padding: 5%;
        text-align: center;
    }
    .card {
        width: 100%;
        padding: 20px 5px;
    }

    .users {
        grid-template-columns: repeat(auto-fill, minmax(25%, 1fr))
    }

    .user-info {
        width: 45%;
        display: grid;
        text-align: center;
    }

    .user-info div:first-child {
        padding: 30%;
    }

    .footer {
        display: grid;
    }
    
    .about {
        margin: auto;
        text-align: center;
        width: auto;
    }

    .footer hr {
        width: 50%;
    }
}

@media (max-width: 595px) {

    .menu_buttons{
        display: block;
    }
      
    .navbar_menu{
        flex-direction: column;
    }
      
    .navbar_menu li {
        display: none;
    }


    .image {
        font-size: 20em;
    }

    .users {
        grid-template-columns: repeat(auto-fill, minmax(46%, 1fr))
    }

    .tutorial {
        display: grid;
    }
}

@media (max-width: 500px) {
    .image {
        font-size: 15em;
    }
}

@media (max-width: 400px) {
    .user-info {
        width: 80%;
        height: 60%
    }
    
    .user-info div:first-child {
        padding: 10%;
    }
    
    .user-info div:nth-child(2n) {
        overflow: auto;
    }
    
    .user-info div:nth-child(2n) h1{
        margin: auto
    }
}
