{% extends 'base/base.html' %}
{% block title %}
    Home
{% endblock %}

{% block content %}
<div class="wrapper">
    <a class="button" href="{{ url_for('auth.delete') }}">Delete account</a>
    <h1>Hello,
        {% if current_user.name %}
            {{ current_user.name }}
        {% endif %}
    </h1>
    
    <section class="users">
        {% for user in users %}
            {% if user != current_user %}
                <div class="user" style="background-color: {{ user.profile_color }}">
                    <h3><a href="{{ url_for('public.profile', name = user.name) }}">{{ user.name }}</a></h3>
                    <p>{{ user.email }}</p>
                </div>
            {% endif %}
        {% endfor %}

        <div class="user plus">
            <a href="{{ url_for('public.users') }}"><i class="fas fa-plus"></i></a>
        </div>
    </section>
    
    <section class="tutorial">
        <div>
            <i class="fas fa-tools icon"></i>
        </div>
        <div>
            <h3>How Blueprints are used in Flask?</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur adipisci optio illo vero rerum laborum
                ex.</p>
            <a class="button" href="{{ url_for('public.tutorial') }}">See more</a>
        </div>
    </section>
</div>

{% endblock %}
