{% extends 'base/base.html' %}
{% block title %}
    Users
{% endblock %}

{% block nav %}
    <ul>
        <li><a href="{{ url_for('public.index') }}"><b>FLASK_AUTH</b></a></li>
        <li><a href="{{ url_for('public.tutorial') }}">Tutorial</a></li>
        <li><a href="{{ url_for('public.users') }}">Users</a></li>

        {% if not current_user.is_authenticated %}
            <li><a href="{{ url_for('auth.register') }}">Registrarse</a></li>
            <li><a href="{{ url_for('auth.login') }}">Iniciar sesión</a></li>
        {% else %}
            <li><a href="{{ url_for('auth.logout') }}">Cerrar sesión</a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block content %}
    {% for user in users_list %}
        {% if user != current_user %}
            <div class="users_list">
                <h3><a href="{{ url_for('public.profile', name = user.name) }}">{{ user.name }}</a></h3>
                <p>{{ user.email }}</p>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}