<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <title>App | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" crossorigin="anonymous">
</head>

<body>
    <header>
        <nav class="navbar">
            <input type="checkbox" id="checkbox" class="checkbox">
            <label for="checkbox" class="menu_buttons">
                <i class="fas fa-bars open"></i>
                <i class="far fa-times-circle close"></i>
            </label>

            <ul class="navbar_menu">
    
                <li class="navbar_logo">
                    <a href="{{ url_for('public.index') }}">
                        FLASK_AUTH
                    </a>
                </li>
    
                <li>
                    <a href="{{ url_for('public.tutorial') }}">
                        Tutorial
                    </a>
                </li>
    
                <li>
                    <a href="{{ url_for('public.users') }}">
                        Users
                    </a>
                </li>
    
                {% if not current_user.is_authenticated %}
                    <li>
                        <a href="{{ url_for('auth.register') }}">
                            Sign up
                        </a>
                    </li>
    
                    <li>
                        <a  class="button"  href="{{ url_for('auth.login') }}">
                            Sign in
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a class="button" href="{{ url_for('auth.logout') }}">
                            Sign out
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>            
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <div class="footer">
            <div class="about logo">
                <b>FLASK_AUTH</b>
            </div>
            <hr>
            <div class="about">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non quod corporis natus voluptatem
                perspiciatis. Aliquam eaque facere nemo repellat culpa in temporibus, voluptatum eius fuga, corrupti facilis
                quaerat vel deserunt</p>
            </div>
            <hr>
            <div class="about">
                <div class="contact">
                    <ul>
                        <li><a href="#"> <i class="fab fa-facebook"></i> Facebook</a></li>
                        <li><a href="#"> <i class="fab fa-instagram"></i> Instagram</a></li>
                        <li><a href="#"> <i class="fab fa-youtube"></i> Youtube</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <p>The icons used in this project were taken from <a href="https://fontawesome.com">Font Awesome</a></p>
        </div>
    </footer>
</body>

</html>
